{$SITE_ADDRESS} {
    @radio {
        path_regexp radio /radio/(.*)/(.*)$
    }

    route @radio {
        rewrite /radio/{http.regexp.radio.1}/{http.regexp.radio.2} /{http.regexp.radio.2}
        reverse_proxy stations:{http.regexp.radio.1}
    }

    reverse_proxy frontend:3000
}
